<div class = "container">
  <table class="table">
    <thead>
      <tr>
        <th scope = "col">#</th>
        <th scope = "col">Username</th>
        <th scope = "col">Comment</th>
        <th scope = "col">Create Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><%="#{@comment.id}"%></th>
        <td><%="#{@comment.username}"%></td>
        <td><%="#{@comment.comment}"%></td>
        <td><%="#{@comment.created_at}"%></td>
      </tr>
    </tbody>
  </table>
  <hr/>
  <a class="btn btn-success" href = "/comment">Comment</a>
  <a class="btn btn-primary" href = "/comment/<%=@comment.id%>/edit">Edit</a>
  <a class="btn btn-danger" href = "/comment/<%=@comment.id%>/delete">Delete</a>
</div>
